BGreen/.idea/scopes/scope_settings.xml

*.iml

BGreen/.idea/compiler.xml

BGreen/.idea/misc.xml

*.iml

*.iml

*.iml
BGreen/.idea/encodings.xml
BGreen/.idea/gradle.xml
BGreen/.idea/misc.xml
BGreen/.idea/runConfigurations.xml
BGreen/.idea/vcs.xml
.idea/workspace.xml
BGreen/BGreen.iml
